* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: gainsboro;
    color: purple;
    }
p, main {
    margin: 10px auto;
    font-size: medium;
    align-items: center;
}
#image {
    width: 500px;
    height: 500px;
    display: block;
    object-fit: contain;
    image-orientation: flip;
    margin: auto;
}
.image-block {
    text-align: center;
    margin: auto
}
.footer{
    display: flex;
    justify-content: baseline;
}