* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p, main {
    margin: 10px auto;
    font-size: medium;
    align-items: center;
}
img {
 
}
#image {
    width: 750px;
    max-width: 100%;
    height: auto;
    display: block;
    image-orientation: flip;
  }